name: CI
on:
  push:
    branches: [ incarnation ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: nschloe/action-cached-lfs-checkout@v1

    - uses: actions/setup-node@v3.2.0
      with:
        node-version: 16

    - uses: pnpm/action-setup@v2.2.2
      with:
        run_install: false

    - name: Get pnpm store directory
      id: pnpm-cache
      run: |
        echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

    - name: Setup pnpm cache
      uses: actions/cache@v3
      with:
        path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Test
      run: pnpm lint

    - name: Build
      run: pnpm build

    - name: deploy to netlify
      # using cloudflare pages instead
      if: false
      env:
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      run: npx netlify-cli deploy --prod --dir=public

    - name: "TODO: deploy to cf pages"
      if: false
      run: echo TBD
